<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Une erreur est survenue: {{ status_text }}</title>
        <link rel="stylesheet" href="{{ asset('bundles/bootmetro/css/error.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/bootmetro/css/bootmetro-icons.css') }}" type="text/css" />
    </head>
    <body class="metro">
        <div class="page">
            <div class="page-region">
                <div class="page-region-content">
        <div class="window shadow">
            <div class="caption">
                <div class="super-title">Oops! Une erreur est survenue</div>
                <i class="icon-warning-3"></i>
                <a href="/" class="close"><i class="icon-close"></i></a>
            </div>
            <div class="content">
                <p style="vertical-align: middle">The server returned a "{{ status_code }} {{ status_text }}"
                <br />Click on close button to return to homepage</p>
            </div>
        </div>
                    </div>
                </div>
            </div>
    </body>
</html>