{# \Symfony\src\foxp2\backofficeBundle\Resources\views\Articles\edit.html.twig #}
{% extends "foxp2backofficeBundle:Common:layout_admin.html.twig" %}
{% form_theme edit_form  'foxp2backofficeBundle:Form:fields.html.twig' %}
{% block application -%}
<div class="win-ui-dark progress hide" id="progressouter" style="background-image: url({{ asset("bundles/foxp2backoffice/images/bkg-4.png") }}">
    <h3 class="text-info text-center"><strong>{{ 'loading data ...'|trans }}</strong></h3><br />
    <div class="bar" id="progress"></div>
</div>
<div id="nav-bar">
    <div class="row">
        <div class="span9">
            <div id="header-container">
                <a id="backbutton" class="win-backbutton" style="margin-right: 10px;" href="{{ path('articles_index') }}"></a>
                <div class="dropdown pull-right">
                    <h1 class="header-dropdown">{{ 'Edit an item'|trans }}</h1>
                </div>
            </div>
        </div>
        {% include "foxp2backofficeBundle:Secured:logout.html.twig" %}
    </div>
</div>
<div class="row-fluid">
{% set flashbag_messages = app.session.flashbag.get('message') %}
{% if flashbag_messages is not empty %}        
<div class="alert alert-danger span5">
<button type="button" class="close" data-dismiss="alert"></button>   
    {% for message in flashbag_messages %}
            <strong>{{ message|trans|raw }}</strong>
    {% endfor %}
</div>
{% endif %} 

    <form style="margin-bottom:123px;" id="articles_update" action="{{ path('articles_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}        
    </form>
</div>
{# fenêtre modale ajaxifiée #}
        <div id="gistinfo"></div>        
<!-- app bar -->
<div id="app-bar" class="win-commandlayout win-ui-dark">
    <a class="win-command orange" href="{{ path('articles_index') }}">
        <span class="win-commandicon win-commandring icon-list icon-fox"></span>   
        <span class="win-label orange">{{ 'List of articles'|trans }}</span>
    </a>
    <a title="" id="button_submit" class="win-command blue pull-right" href="#" onclick="$('#articles_update').submit();">
        <span class="win-commandicon win-commandring icon-pen-2"></span>   
        <span class="win-label blue">{{ 'Edit'|trans }}</span>
    </a>
</div>
<script>
jQuery('#app-bar').animate({'bottom': '+0px'},400);
gist = '';
var selected = $('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected').val();
if($('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected').val() !== ''){
    $('#foxp2_backofficeBundle_articlestype_articleGistReference').after('<a id="'+selected+'" class="btn btn-info gistbutton"><i class="icon-plus"></i> {{ 'More info'|trans}}</a>');
}
jQuery('#gistinfo').animate({bottom: '-600px'},0);
$('#foxp2_backofficeBundle_articlestype_articleGistReference').change(function(){
    var options = $('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected');
    $('.gistbutton').remove();
    if(options.val() !== '') {
        $('.gistbutton').remove();
        $('#foxp2_backofficeBundle_articlestype_articleGistReference').after('<a id="'+options.val()+'" class="btn btn-info gistbutton"><i class="icon-plus"></i> {{ 'More info'|trans}}</a>');
        return false;
    }
});
$(document).on("click", ".gistbutton", function(e) {
    e.preventDefault();
    jQuery('#gistinfo').animate({bottom: '+0px'},400);
    gist = $(this).attr('id'); 
    getGistInfo();
})
function clearprogress(){ $("#progressouter").addClass("hide"); $("#progress").css('width','0%'); }
function getGistInfo() {
    $('#gistinfo').empty();
    $("#progressouter").removeClass("hide");    
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '{{ path('articles_ajaxgist', {'id': 0}) }}',
        data: 'id=' + gist,
        timeout: 5000,
        success: function(response) {            
            for(var i=0;i<response.length;i++) {
                $("#progress").css('width',(i*100/i)+'%');
                var obj = response[i];            
                $('#gistinfo').append('<h2 class="heading-title"><strong>{{ 'Details of gist'|trans }}</strong>\n\
                                       <img id="avatar" src="'+obj['avatar']+'" class="pull-right img-polaroid" style="top:0px;height:45px;width:45px;"></h2>\n\
                                       <ul><li><strong>{{ 'Id gist'|trans }} : </strong>'+obj['id']+'</li>\n\
                                           <li><strong>{{ 'Created at'|trans }} : </strong>'+obj['created_at']+'</li>\n\
                                           <li><strong>{{ 'Author'|trans }} : </strong>'+obj['author']+'</li>\n\
                                           <li><strong>{{ 'Description of gist'|trans }} : </strong>'+obj['description']+'</li>\n\
                                           <li><strong>{{ 'Files'|trans }} : </strong>'+obj['files']+'</li></ul>');
            }
        },
        complete: function() {
        clearprogress();
        },
        error: function(x,t,m) {            
            if( t === 'timeout') { $('#gistinfo').empty(); $('#gistinfo').append('<strong>{{ 'Error'|trans }}</strong><br /> : {{ 'The request failed because the remote server took too long to respond'|trans}}');
                } else {                    
                    $('#gistinfo').empty(); $('#gistinfo').append('<strong>'+t+'</strong> : '+m+x+'');
                }                
        }
    }); 
}
// mouse left click
$('#application').mousedown(function(e) {    
    if (e.which === 1) {
       jQuery('#gistinfo').animate({bottom: '-600px'},400);
    }
});
</script>
{% endblock %}
{% block footer %}
{% endblock %}