{# \Symfony\src\foxp2\backofficeBundle\Resources\views\Articles\edit.html.twig #}
{% extends "foxp2backofficeBundle:Common:layout_admin.html.twig" %}
{% form_theme edit_form  'foxp2backofficeBundle:Form:fields.html.twig' %}
{% block application -%}
        <div id="nav-bar">
            <div class="row">
                <div class="span9">
                    <div id="header-container">
                        <a id="backbutton" class="win-backbutton" style="margin-right: 10px;" href="{{ path('articles_index') }}"></a>
                        <div class="dropdown pull-right">
                            <h1 class="header-dropdown">Edition d'un article</h1>
                        </div>
                    </div>
                </div>
                {% include "foxp2backofficeBundle:Secured:logout.html.twig" %}
            </div>
        </div>
<div class="row-fluid">
{% set flashbag_messages = app.session.flashbag.get('message') %}
{% if flashbag_messages is not empty %}        
<div class="alert alert-danger span5">
<button type="button" class="close" data-dismiss="alert"></button>   
    {% for message in flashbag_messages %}
            <strong>{{ message|raw }}</strong>
    {% endfor %}
</div>
{% endif %} 

    <form style="margin-bottom:93px;" id="articles_update" action="{{ path('articles_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
    </form>
</div>
{# fenêtre modale ajaxifiée #}
        <div id="gistinfo">
            <h2 class="heading-title"><strong>Détails du gist :</strong></h2>
            <div id="gistinfoprogress">
                <h3>chargement des données</h3>
                <progress></progress>
            </div>
            <ul id="gistinfodet">
            </ul>
        </div>
<!-- app bar -->
<div id="app-bar" class="win-commandlayout win-ui-dark">
    <a class="win-command orange" href="{{ path('articles_index') }}">
        <span class="win-commandicon win-commandring icon-list icon-fox"></span>   
        <span class="win-label orange">Liste des articles</span>
    </a>
    <a title="" id="button_submit" class="win-command blue pull-right" href="#">
        <span class="win-commandicon win-commandring icon-pen-2"></span>   
        <span class="win-label blue">Editer</span>
    </a>
</div>
<script>
jQuery('#app-bar').animate({'bottom': '+0px'},400);
$('#button_submit').click(function() {
  $('#articles_update').submit();
});
gist = '';
var selected = $('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected').val();
if($('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected').val() !== ''){
    $('#foxp2_backofficeBundle_articlestype_articleGistReference').after('<a id="'+selected+'" class="btn btn-info gistbutton"><i class="icon-plus"></i> info</a>');
}
jQuery('#gistinfo').animate({bottom: '-600px'},0);
$('#foxp2_backofficeBundle_articlestype_articleGistReference').change(function(){
    var options = $('#foxp2_backofficeBundle_articlestype_articleGistReference option:selected');
    $('.gistbutton').remove();
    if(options.val() !== '') {
        $('.gistbutton').remove();
        $('#foxp2_backofficeBundle_articlestype_articleGistReference').after('<a id="'+options.val()+'" class="btn btn-info gistbutton"><i class="icon-plus"></i> info</a>');
        return false;
    }
});
$(document).on("click", ".gistbutton", function(e) {
    e.preventDefault();
    jQuery('#gistinfo').animate({bottom: '+0px'},400);
    gist = $(this).attr('id'); 
    getGistInfo();
})
// clean up catinfo modal
function cleargistinfo(){ $('#gistinfodet').find("li").remove(); $('#gistinfoprogress').hide(); $('#avatar').remove();}
function getGistInfo() {
    $('#gistinfodet').find("li").remove();
    $('#avatar').remove();
    $('#gistinfoprogress').show(); 
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '{{ path('articles_ajaxgist', {'id': 0}) }}',
        data: 'id=' + gist,
        timeout: 5000,
        success: function(response) {
            cleargistinfo();
            $.each(response, function(i, item) { 
                if(item === null){
                    data= '';
                }else{
                    data=item;
                };
                if( i === 'avatar') {
                $('.heading-title').append('<img id="avatar" src="'+data+'" class="pull-right img-polaroid" style="top:0px;height:45px;width:45px;">');   
                }else{
                $('#gistinfodet').append('<li><strong class="muted">'+i+'</strong> : '+data+'</li>'); 
                }});
        },
        error: function(x,t,m) {
            cleargistinfo();
            if( t === 'timeout') { $('#gistinfodet').append('<li><strong>Erreur</strong> : La requête a mis trop de temps à répondre</li>');
                } else {                    
                    $('#gistinfodet').append('<li><strong>'+t+'</strong> : '+m+x+'</li>');
                }                
        }
    }); 
}
// mouse left click
$('#application').mousedown(function(e) {    
    if (e.which === 1) {
       jQuery('#gistinfo').animate({bottom: '-600px'},400);
    }
});
</script>

{% endblock %}
{% block footer %}
{% endblock %}
