{# \Symfony\src\foxp2\backofficeBundle\Resources\views\Secured\logout.html.twig #}
<div id="quickaccess" class="wide image collection span3 pull-right text-right">
<h4 style="font-weight: bold;margin-bottom: 3px;">{{ 'Welcome'|trans }} {{ app.user ? app.user.username : '' }}&nbsp;</h4>
    <div class="btn-group text-left">        
        {% set lng = app.request.locale %}        
        {% set source = "/" ~ app.request.locale ~ "/" %}
        <div class="btn-group img-polaroid">
        {% for applanguage in ['fr','en'] %}
        {% set target = "/" ~ applanguage ~ "/" %}
        <a {% if applanguage == app.request.locale  %} style="display: none"{% endif %} href="{{ app.request.requestUri|replace({(source): target}) }}" title="{% if applanguage == 'fr' %}Français{% else %}{{ applanguage|trans }}{% endif %}"><img src="{{ asset(["bundles/bootmetro/img/",applanguage,".png"]|join) }}" style="height:16px;width:18px;" alt="{{ applanguage }}" /></a>
        {% endfor %}
        </div>        
        <button class="btn">{{ 'Quick access'|trans }}</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li {% if app.request.getRequestUri == path('foxp2backoffice_homepage') %}class="bg-color-yellow"{% endif %}><a href="{{ path('foxp2backoffice_homepage') }}"><strong><i class="icon-home-6"></i> {{ 'Homepage'|trans }}</strong></a></li>
            <li {% if app.request.getRequestUri == path('profil_index') %}class="bg-color-yellow"{% endif %}><a href="{{ path('profil_index') }}"><strong><i class="icon-github"></i> {{ 'Profil'|trans }}</strong></a></li>
            <li {% if app.request.get('_route')|slice(0,10) == 'categories' %}class="bg-color-yellow"{% endif %}><a href="{{ path('categories_index') }}"><strong><i class="icon-list"></i> {{ 'Categories'|trans }}</strong></a></li>
            <li {% if app.request.get('_route')|slice(0,8) == 'articles' %}class="bg-color-yellow"{% endif %}><a href="{{ path('articles_index') }}"><strong><i class="icon-list"></i> {{ 'Articles'|trans }}</strong></a></li>
            <li {% if app.request.get('_route') == 'gist_index' %}class="bg-color-yellow"{% endif %}><a href="{{ path('gist_index') }}"><strong><i class="icon-list"></i> {{ 'Gists'|trans }}</strong></a></li>
            <li {% if app.request.get('_route')|slice(0,12) == 'gistcomments' %}class="bg-color-yellow"{% endif %}><a href="{{ path('gistcomments_index') }}"><strong><i class="icon-comment-fill"></i> {{ 'Gist comments'|trans }}</strong></a></li>
            <li {% if app.request.getRequestUri == path('foxp2backoffice_about') %}class="bg-color-yellow"{% endif %}><a href="{{ path('foxp2backoffice_about') }}"><strong><i class="icon-info-2"></i> {{ 'About'|trans }}</strong></a></li>
            <li class="divider"></li>
            <li class="bg-color-red"><a style="color:#fff;" href="{{ path('logout') }}"><strong><i class="icon-logout"></i> {{ 'Logout'|trans }}</strong></a></li>
        </ul>
    </div>
</div>