{# \Symfony\src\foxp2\backofficeBundle\Resources\views\Categories\show.html.twig #}
{% extends "foxp2backofficeBundle:Common:layout_admin.html.twig" %}
{% block application -%}
<div class="row-fluid">
    <div id="header-container" style="margin-left: 0px;margin-top:20px;margin-bottom: 20px;">
        <a id="backbutton" class="win-backbutton" style="margin-right: 10px;" href="{{ path('categories_index',{'page':1}) }}"></a>
        <div class="dropdown pull-right">
            <h1 class="header-dropdown" style="line-height:40px;">{{ 'Visualisation d\'une catégorie'|trans }}</h1>
        </div>
    </div>
{% include "foxp2backofficeBundle:Secured:logout.html.twig" %}
{% set flashbag_messages = app.session.flashbag.get('message') %}
{% if flashbag_messages is not empty %}        
    <div id="alerts-container">    
    <div class="toast fade in">
        <button type="button" class="close" data-dismiss="alert" type="button"></button>
        <div class="pull-left">
            <img class="toast-object"  style="width: 90px; height: 90px;" 
                 src="{{ asset("bundles/foxp2projects/images/foxp2-90-90.png") }}" />
        </div>
    <div class="toast-body">
        <h4 class="toast-heading">Message de l'application</h4>
        <p>
    {% for message in flashbag_messages %}
            <strong>{{ message|raw }}</strong>
    {% endfor %}
        </p>
    </div>
    </div>
    </div>
{% endif %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id catégorie</th>
                <th style="text-align: center;">Nom de la catégorie</th>                
                <th style="text-align: center;">Date de création</th>
                <th style="text-align: center;">Date de modification</th>
                {% if entity.parentId %}               
                <th style="text-align: center;">Catégorie parente</th>
                <th style="text-align: right;">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="listcategories">
            <tr id="{{ entity.id }}" data-category="{{ entity.id }}">                
                <td>{{ entity.id }}</td>
                <td style="text-align: center;">{{ entity.categoriesName }}</td>                                      
                <td style="text-align: center;">{{ entity.dateCreated|date('d-m-Y') }}</td>                      
                <td style="text-align: center;">{{ entity.dateModified|date('d-m-Y') }}</td>
                {% if entity.parentId %}                
                <td style="text-align: center;">{% if entity.parentId %}{{ entity.parentId.categoriesName }}{% endif %}</td>
                <td style="text-align: right;">
                {% if entity.parentId %}
                        <div class="btn-group">
                        <a class="btn btn-info" href="{{ path('categories_edit',{'id' : entity.parentId}) }}">éditer</a>
                        <a class="btn btn-primary" href="{{ path('categories_show',{'id' : entity.parentId}) }}">voir</a>
                {% endif %}
                </td>  
                {% endif %}
            </tr>
            <tr>
                <th style="text-align: center;">titre :</th>
                <td colspan="{% if entity.parentId %}2{% else %}1{% endif %}">{{ entity.categoriesTitle }}</td>
                <th style="text-align: center;">sous titre :</th>
                <td colspan="{% if entity.parentId %}3{% else %}1{% endif %}">{{ entity.categoriesSubTitle }}</td>
            </tr>
            <tr>
                <th style="text-align: center;vertical-align: middle;">Description :</th>
                <td colspan="{% if entity.parentId %}5{% else %}4{% endif %}">{{ entity.categoriesDescription|raw }}</td>
            </tr>
        </tbody>
    </table>
    {% if entity.children|length > 0 %}
    <h2>Liste des sous catégories : <small>{{ entity.children|length }} sous catégorie{% if entity.children|length > 1 %}s{% endif %}</small></h2><hr>
    <table class="table table-bordered table-hover table-striped">    
        <thead>
            <tr>
                <th>Id sous catégorie</th>
                <th style="text-align: center;">Nom de la sous catégorie</th>
                <th style="text-align: right;">Action</th>
            </tr>
        </thead>
        <tbody>
    {% for category in entity.children %}
            <tr>
                <td>{{ category.id }}</td>
                <td style="text-align: center;">{{ category.categoriesName }}</td>
                <td style="text-align: right;">
                    <div class="btn-group">
                    <a class="btn btn-info" href="{{ path('categories_edit',{'id' : category.id}) }}"><strong>éditer</strong></a>
                    <a class="btn btn-primary" href="{{ path('categories_show',{'id' : category.id}) }}"><strong>voir</strong></a>
                    </div>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table> 
    {% endif %}
    {% if entity.articles|length > 0 %}
    <h2>Liste des articles : <small>{{ entity.articles|length }} article{% if entity.articles|length > 1 %}s{% endif %}</small></h2><hr>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id de l'article</th>
                <th style="text-align: center;">Nom de l'article</th>
                <th style="text-align: right;">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in entity.articles %}
            <tr>
            <td>{{ article.id }}</a></td>
            <td>{{ article.articleName }}</td>
            <td style="text-align: right;">
                <div class="btn-group">
                <a class="btn btn-info" href="{{ path('articles_edit',{'id' : article.id}) }}"><strong>éditer</strong></a>
                <a class="btn btn-primary" href="{{ path('articles_show',{'id' : article.id}) }}"><strong>voir</strong></a>
                </div>
            </td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
    {% endif %}
    <form id="delete_categories" action="{{ path('categories_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}   
    </form>
<!-- app bar -->
<div id="app-bar" class="win-commandlayout win-ui-dark">
    <a class="win-command orange" href="{{ path('categories_index', {'page':1}) }}">
        <span class="win-commandicon win-commandring icon-list icon-fox"></span>   
        <span class="win-label orange">Liste des catégories</span>
    </a>
    <a title="" id="button_submit" class="win-command red pull-right" href="#">
        <span class="win-commandicon win-commandring icon-delete"></span>   
        <span class="win-label red">Supprimer</span>
    </a>
    <a class="win-command white pull-right" href="{{ path('categories_edit', { 'id': entity.id }) }}">
        <span class="win-commandicon win-commandring icon-pencil-2"></span>   
        <span class="win-label white">Editer</span>
    </a>
</div>
<script>
jQuery('#app-bar').animate({'bottom': '+0px'},400);  
$('#button_submit').click(function() {
  $('#delete_categories').submit();
}); 
</script>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
