{# \Symfony\src\foxp2\backofficeBundle\Resources\views\Gist\index.html.twig #}
{% extends "foxp2backofficeBundle:Common:layout_admin.html.twig" %}
{% block apptopbar %}
<div class="win-ui-dark progress hide" id="progressouter" style="background-image: url({{ asset("bundles/foxp2backoffice/images/bkg-4.png") }}"> 
    <h3 class="text-info text-center"><strong>{{ 'loading data ...'|trans }}</strong></h3><br />
    <div class="bar" id="progress"></div>
</div>
<!-- app top bar -->
<div id="app-bar-top" class="win-ui-dark">
    <a class="win-command white pull-right" href="">{# todo : formulaire de création de gist #}
        <span class="win-commandicon win-commandring icon-plus-5"></span>
        <span class="win-label white">{{ 'Create a gist'|trans }}</span>
    </a>
</div>
{% endblock %}
{% block application -%}
        <div id="nav-bar">
            <div class="row">
                <div class="span9">
                    <div id="header-container">
                        <a id="backbutton" class="win-backbutton" style="margin-right: 10px;" href="{{ path('foxp2backoffice_homepage')}}"></a>
                        <div class="dropdown pull-right">
                            <h1 class="header-dropdown">{{ 'List of gists'|trans }}</h1>
                        </div>
                    </div>
                </div>
                {% include "foxp2backofficeBundle:Secured:logout.html.twig" %}
            </div>
        </div>
<div class="row-fluid">
{% set flashbag_messages = app.session.flashbag.get('message') %}
{% if flashbag_messages is not empty %}
    <div id="alerts-container">
    <div class="toast fade in">
        <button type="button" class="close" data-dismiss="alert" type="button"></button>
        <div class="pull-left">
            <img class="toast-object" alt="90x90" style="width: 90px; height: 90px;" src="{{ asset("bundles/foxp2projects/images/foxp2-90-90.png") }}" />
        </div>
    <div class="toast-body">
        <h4 class="toast-heading">{{ 'Message of application'|trans }}</h4>
        <p>
    {% for message in flashbag_messages %}
            <strong>{{ message|trans|raw }}</strong>
    {% endfor %}
        </p>
    </div>
    </div>
    </div>
{% endif %}
        <div class="clearfix"></div>

{% set flashbag_erreurs = app.session.flashbag.get('error') %}
{% if flashbag_erreurs is not empty %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert"></button>
    {% for message in flashbag_erreurs %}
            <strong>{{ message|trans }}</strong>
    {% endfor %}
    </div>
{% endif %}
        <div class="listview list-layout span3" style="max-height:600px;margin-top:40px;">
            {% for gist in Gist %}
                <div id="{{ gist.id }}" class="listview-item bg-color-purple">
                    <div class="pull-left" href="#">
                        <img class="listview-item-object" src="{{ gist.user.avatar_url}}">
                    </div>
                    <div class="listview-item-body">
                        <h4 class="listview-item-heading">{{ gist.id }}</h4>
                        <h5 class="listview-item-subheading">{{ gist.created_at|date('d m Y') }}</h5>                        
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="gistdetail" class="span8" style="margin-top: 47px;">
            <div class="hero-unit">
                <h1>{{ 'loadind files'|trans }}</h1>
                <hr>
                     <p>
                         <strong>{{ 'Please select a gist from the list below to get all source code hosted on Github servers'|trans }}</strong>
                         <br /><br />
                         <em>{{ 'Please note: The data are cached'|trans }}</em>
                     </p>
            </div>
        </div>
        <div class="clearfix"></div>
<div id="profil-footer" class="well well-profil-stat hide" style="margin-left:-20px"></div>
</div>
<!-- app bar -->
<div id="app-bar" class="win-commandlayout win-ui-dark">
    <a id="gistcomments" class="win-command white pull-right" href="{{ path('gistcomments_new', {'id':0}) }}">
        <span class="win-commandicon win-commandring icon-comment-3"></span>
        <span class="win-label white">{{ 'Comment this gist'|trans }}</span>
    </a>
</div>
<script>
jQuery('#app-bar').animate({bottom: '-92px'},0);
$(document).on("click", ".fullcode", function() {
id= $(this).attr('id');
if ($('#code'+id).children().hasClass('pre-scrollable-fox'))
    {
        $(this).html('<i class="icon-arrow-up"></i>{{ 'Collapse the code'|trans }}');        
        $('#code'+id).children().removeClass('pre-scrollable-fox');
    }else{        
        $(this).html('<i class="icon-arrow-down"></i>{{ 'Extend the code'|trans }}');        
        $('#code'+id).children().addClass('pre-scrollable-fox').css('overflow-x','hidden');
    }
});
$('.listview-item').click(function(){ 
    $('.listview-item').removeClass('bg-color-yellow selected').addClass('bg-color-purple').css('color','#fff');
    $('.listview-item h5').css('color','#fff');    
    $(this).removeClass('bg-color-purple').hide().fadeIn(1000).addClass('bg-color-yellow selected').css('color','#000').find('h5').css('color','#000');    
    $("#gistdetail").empty();    
    getGistInfo($(this).attr('id'));    
     var href = $('#gistcomments').attr("href");     
     href = href.replace(/id=+[0-9]+/,"id="+$(this).attr('id'));     
     $('#gistcomments').attr("href",href);
     setTimeout(function () {
        jQuery('#app-bar').animate({'bottom': '+0px'},400);    
     },2000);    
});
jQuery('#app-bar-top').animate({top: '-96px'},0);
function getlimit() {
    $.ajax({
        type: 'POST',
        datatype: 'json',
        url: '{{ path('profil_limit')}}',
        success: function(response) {
        $("#progressouter").addClass("hide");
        $("#progress").css('width','0%');
        $('#profil-footer').empty();
        $('#profil-footer').append('<p class="text-center">\n\
                                    <strong>{{ 'Statistics Queries on Github server'|trans }} : </strong> \n\
                                    - {{ 'Number of requests'|trans }} : <strong><em>'+response['rate']['limit']+'</em></strong> \n\
                                    - {{ 'Remaining number of requests'|trans }} : <strong><em>'+response['rate']['remaining']+'</em></strong></p>');
        },
        complete: function() {
        $('#profil-footer').removeClass('hide');
        },
        error: function(x,t,m) {
        $('#profil-footer-data').append('<p class="text-center">'+x+t+m+'</p>');
        $('#profil-footer').removeClass('hide');
        }        
    });
    
}
function getGistInfo(gist) {
    $("#progressouter").removeClass("hide");    
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '{{ path('gist_ajaxgist', {'id': 0}) }}',
        data: 'id=' + gist,
        timeout: 10000,
        success: function(response) {        
        $('#gistdetailprogress').addClass('hide'); 
        if(response[0]['description'] !== '') {
        $('#gistdetail').append('<h2><strong>{{'Description of gist'|trans}}:</strong></h2><blockquote>'+response[0]['description']+'</blockquote>');
        }
             for(var i=0;i<response.length;i++) {
                var obj = response[i];               
                for(var key in obj){                   
                if( i > 1) {
                $("#progress").css('width',(i*100/i)+'%');
                }else{
                $("#progress").css('width','100%');
                }
                   if(key === 'filename') {
                   $('#gistdetail').append('<h2 id="file'+i+'"><strong>'+obj["filename"]+'</strong><small class="pull-right">{{ 'Language'|trans }} : '+obj["language"]+'</small></h2>').hide().fadeIn(1000);
                   }
                   if(key === 'content') {
                   $('#gistdetail').append('<br /><h3>{{'Code of gist'|trans}} :</h3><br /><div id="code'+i+'">'+obj[key]+'</div><br /><a href="#file'+i+'" id="'+i+'" class="btn btn-inverse pull-left fullcode"><i class="icon-arrow-down"></i>{{ 'Extend the code'|trans }}</a><a href="'+obj["raw_url"]+'" target="_blank" class="btn btn-info pull-right"><i class="icon-github"></i> {{ 'See on Github'|trans }}</a><br /><hr>').hide().fadeIn(1000);
                   }                   
                }
            }
        },
        complete: function() {
        getlimit();              
        },
        error: function(x,t,m) {            
            if( t === 'timeout') {$("#gistdetail").empty(); $('#gistdetail').append('<strong>{{ 'Error'|trans }}</strong> :<br /> {{ 'The request failed because the remote server took too long to respond'|trans }}');
                } else {                    
                    $("#gistdetail").empty();$('#gistdetail').append('<strong>'+t+'</strong> : <br />'+m+x+'');
                }                
        }
    }); 
}
// surcharge de la fonction native 'append' de jquery : http://jsfiddle.net/H8ygx/
(function($) {
    var origAppend = $.fn.append;

    $.fn.append = function () {
        return origAppend.apply(this, arguments).trigger("append");
    };
})(jQuery);
// modification du dom bindé sur la fonction 'apppend'
$("#gistdetail").bind("append", function() { 
    setTimeout(function () {
    $(document).find('[id^="code"]').each(function(){    
    if($(this).height() < '340'){
        $(this).children().closest('div').removeClass('pre-scrollable-fox').css('overflow-y','hidden');
        $('#'+$(this).attr('id').substr(4,1)).remove();
    }    
}); 
},1100);
});
</script>
{% endblock %}
{% block footer %}
{% endblock %}